/* Importamos tipografía desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Reseteamos todos los valores a 0 para no tener conflictos con el estilo */
*{
    padding: 0;
    margin: 0;
}

.bodyAdministrarPeli {
    height: 100%;
    background: linear-gradient(to right top, #24242473, #24242473), url(../img/bg-register.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
      
}

    .headerAdministrarPeli {
        position: sticky;
        top: 30px;
        background-color: transparent;
        color: white;
        font-family: sans-serif;
        font-size: 16px;
      
    }

    .comienzoAdministrarPeli {
        background-color: #333133;
        height: 100%;
        border-radius: 10px;
        margin: 60px;
        
        padding: 40px;
        animation-name: inicioSesion;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        overflow: auto;
        
    }
                          
    .tituloAdministrarPeli {
            font-weight: 700;
            text-align: left;
            color: white;
            font-family: "Nunito", sans-serif;
            padding-top: 1rem;
            padding-bottom: 2rem;
            text-align: center;
            text-align: center;
        align-items: center;
        }
       .titulosFormulario {
            padding: 1rem;
            width: 50%; 
            align-items: left;
            color: #ffffff;
       }
    .casillero {
           
            border-radius: 20px;
            border: #004e8d 2px solid;
            background-color: white;
            padding: 1rem;
            margin: 0,4rem;
            width: 82%; 
            align-items: left;
        }
    .botonAdministrarPeli{
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #004e8d;
            border-radius: 2px;
            border: 2px solid #004e8d;
            color: #ffffff;
            padding: 1rem;
            font-size: 1rem;
            font-weight: 400;
            width: 23%;
                       
        }
        .bodyTablePeliculas{
            display: flex;
            align-items: center;
            justify-content: center; 
            table-layout: auto;
 width: 300px
            
        }
 .encabezadotablapeliculas {
                padding: 8px;
                border-bottom: 1px solid #a5a1a1;
                text-align: inherit;
   
    -webkit-text-size-adjust: 100%;
            }
        .registrar{
            color: #ffffff;
            text-align: center;
        }
        
        .terminos{
            color: #ffffff;
            
        }

    
@keyframes inicioSesion {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }



}
/* Estilos para el footer */
footer {
    background-color: #004e8d;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    width: 75%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.link-footer{
    color: rgb(255, 255, 255);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
}

.link-administrador{
    background-color: #181419;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 991px) { 
    footer{
        height: 20vh;
    }
    footer ul {
        width: 100%;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul li {
        margin-bottom: 10px;
    }
    

    .link-footer{
        width: 100%;
    }
}


footer .flecha-hacia-arriba {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 40px;
    right: 15px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
}