.portada {
    position: relative;
    height: 70vh;
    background-image: linear-gradient(rgba(136, 130, 130, 0.5), rgba(150, 139, 139, 0.5)), url('../img/mario-bg.jpg');
    background-position: center; /* Centra la imagen dentro del contenedor */
}

.contenedor_detalles {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.imagen_portada {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    border-radius: 30px;
}

.imagen_portada img {
    border-radius: 20px;
}

.descripcion {
    width: 80%;
    position: relative;
    z-index: 1;
    color: white;
    line-height: 0.5;
}

.descripcion h2{
    font-size: 20px;
    line-height: 0;
    padding-top: 20px;
}

.descripcion p{
    line-height: 1.2;
    margin: 5px 0;
}


.descripcion h3{
    font-size: 20px;
    margin: 0;
}

.creditos{
    display: flex;
    justify-content: space-between;
}



/*Titulo ver trailer*/
.trailerPeli h2 {
    color: white;
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal; 

}

.trailerPeli {
    margin: 12% 15%;
}


